@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin box-shadow($color) {
	-webkit-box-shadow: 0 8px 6px -6px $color;
	   -moz-box-shadow: 0 8px 6px -6px $color;
	        box-shadow: 0 8px 6px -6px $color;
}