<div class="modal fade" id="groupAdd" tabindex="-1" role="dialog" aria-labelledby="groupAddLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="groupAddLabel">Add new group</h4>
      </div>
      <div class="modal-body">
        <form ng-submit="addNewGroup()">



          <!-- Group name -->
          <div class="form-group">
            <label>Group name:</label>
            <input type="text" class="form-control" ng-model="group.name" placeholder="" required>
          </div>

          <!-- Group color -->
          <div class="form-group">
            <label>Pick a color</label>
            <select class="form-control" ng-model="group.color" ng-init="group.color = getColorsList()[0]" required>
              <option ng-repeat="color in getColorsList()">{{color}}</option>
            </select>
          </div>

          <!-- Group response -->
          <div class="form-group">
            {{responseMessage}}
          </div>

          <!-- Buttons -->
          <div class="modal-footer">
            <a type="button" data-dismiss="modal">Close</a> |
            <input class="btn btn-primary" type="submit" value="Submit">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
